.reserva-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.reserva-modal {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 450px;
  position: relative;
}

.btn-close {
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: black; /* 👈 color de la X */
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: color 0.2s ease;
}

.btn-close:hover {
  color: #555;
}
